.blog-author-skin {
    background-image: url('https://minotar.net/helm/07d6910efc5946e096dd07694e06d4ee/32.png'); 
}

.author-name::after {
   content: "Lxnden";
   color: red;
}

.blogtitle::after {
   content: "Welcome to Fortress Client!";
}

.blogcontent::after {
   white-space: pre-wrap;
   font-weight: bold;
   content: "Welcome to the Fortress Client Launcher!";
}
